body {
    margin: 0;
    background-color: rgb(0, 5, 27);
    text-align: center;
}

header {
    font-size: 34px;
    font-family: 'Franklin Gothic Medium';
    color: #b7ffff;
}

.image-head {
    font-family: fantasy;
}

.disclaimer {
    font-size: 20px;
    font-style: italic;
    color: aquamarine;
    /* Space outside , paddin inside*/
    margin: 0 20% auto;
    background-color: black;
}

.image-head {
    color: #7ffbff;
    /* Space outside , paddin inside*/
    margin: 0 30% auto;
    background-color: hsl(120, 67%, 1%);
    font-size: 30px;
    font-family: 'Lucida Sans';
}

img {
    width: 80% auto;
    border: 2px #900303 solid;
    margin: 7px;
}

.my-options {
    margin: 20px;
    display: flex;
    color: #cf9bff;
    font-style: italic ;
    padding: 1.5%;
}

.option-1 {
    width: 27%;
    border-style: groove;
    border-width: 20px;
    border-color: #cf9bff;
    margin: 0 2% auto;
    text-align: left;
    padding: 1.5%;
}

.option-2 {
    width: 27%;
    border-style: outset;
    border-width: 20px;
    border-color: #cf9bff;
    margin: 0 2% auto;
    text-align: center;
    padding: 1.5%;
}

.option-3 {
    width: 27%;
    border-style:inset;
    border-width: 20px;
    border-color: #cf9bff;
    margin: 0 2% auto;
    text-align: right;
    padding: 1.5%;
}

a {
    color: wheat;
}

footer {
    color: rgb(33, 216, 216);
    margin: 1% 41% auto;
    /* background-color: #680015; */
    border-top: 2px solid hsl(348, 93%, 17%);
    /* border: 2px solid hsl(348, 93%, 17%); */
}

.feet {
    width: 3% auto;
    padding: 3%;
    margin: 0 8% auto;
}